<template>
    <div class="slds-form-element">
        <label class="slds-form-element__label">Relate to</label>
        <div class="slds-form-element__control">
            <div class="slds-combobox-group">
                <template if:true={readOnly}>
                    <div class="disabled-overlay"></div>
                </template>
                <template if:true={showCombobox}>
                    <div class="slds-combobox-addon_start" style="width: 62px;">
                        <c-combobox-icon options={entityOptions} value={selectedEntity} onchange={handleEntityChange}
                            label="Relate To" variant="label-hidden" display-format="icon">
                        </c-combobox-icon>
                    </div>
                </template>
                <div class="slds-combobox_container slds-combobox-addon_end">
                    <c-related-to-lookup record-id={recordId} config={entityConfig} onchange={handleChange}>
                    </c-related-to-lookup>
                </div>
            </div>
        </div>
    </div>
</template>