<template>  
    <lightning-layout multiple-rows="true">  
      <lightning-layout-item  padding="around-small">  
        <lightning-button label="First" icon-name="utility:chevronleft" onclick={handleFirst}  
          disabled={showFirstButton}></lightning-button>  
      </lightning-layout-item>  
      <lightning-layout-item  padding="around-small">  
        <lightning-button label="Previous" icon-name="utility:chevronleft" onclick={handlePrevious}  
          disabled={showFirstButton}></lightning-button>  
      </lightning-layout-item>  
      <lightning-layout-item flexibility="grow"  padding="around-small"></lightning-layout-item>  
      <lightning-layout-item  padding="around-small">  
        <lightning-button label="Next" icon-name="utility:chevronright" icon-position="right" onclick={handleNext}  
          disabled={showLastButton}></lightning-button>  
      </lightning-layout-item>  
      <lightning-layout-item  padding="around-small">  
        <lightning-button label="Last" icon-name="utility:chevronright" icon-position="right" onclick={handleLast}  
          disabled={showLastButton}></lightning-button>  
      </lightning-layout-item>  
    </lightning-layout>  
  </template>