<template>  
    <lightning-card>  
      <c-task-records currentpage={page} onrecordsload={handleRecordsLoad} pagesize={pagesize}></c-task-records>  
      <template if:true={totalrecords}>
        <div class="slds-m-around_medium">        
          <c-paginator-bottom onprevious={handlePrevious} onnext={handleNext} onfirst={handleFirst}  
            onlast={handleLast} currentpage={page} totalrecords={totalrecords} pagesize={pagesize}>  
          </c-paginator-bottom>  
        </div>  
      </template>
    </lightning-card>  
  </template>