<template>
	<lightning-card title="Task" icon-name="utility:task">
		<template if:true={{cssDisplay}}>
            <div class="exampleHolder">
                <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
            </div>
        </template>
		<div slot="actions">
			<template if:true= {selectAllCheckbox}>
				<lightning-input  class="slds-checkbox-sec" onchange={allSelected} variant="bare" label="Select All" type="checkbox" checked value={selectAllCheckbox}></lightning-input>
			</template>
			<template if:false= {selectAllCheckbox}>
				<lightning-input  class="slds-checkbox-sec" onchange={allSelected} variant="bare"  label="Select All" type="checkbox" unchecked value={selectAllCheckbox}></lightning-input>
			</template>
			<button class="slds-button slds-button_brand slds-btn-cls" onclick={openCreateModal}>New</button>
		</div>
		<div class="slds-card__body_inner">
			<!-- Start record list -->
			<lightning-layout multiple-rows="true">
				<lightning-layout-item size="12" medium-device-size="5" padding="around-small">
					<div class="page-section page-header">
						<div class="slds-global-header slds-grid slds-grid_align-spread">
							<div class="slds-global-header__item" style="width: 100%">
								<lightning-input type="search"
									onchange={handleSearchTermChange}
									variant="label-hidden"
									class="slds-var-m-bottom_small"
									label="Search"
									placeholder="Search for task"
									value={searchTerm}>
								</lightning-input>
							</div>
						</div>
					</div>
				</lightning-layout-item>
				<lightning-layout-item size="12" medium-device-size="5" padding="around-small"  if:true= {showUpdateSection}>
					<div class="page-section page-header">
						<div class="slds-global-header slds-grid slds-grid_align-spread">
							<div class="slds-global-header__item"  style="width: 100%">
								<select class="slds-select" id="select-01" onchange={handleChange}>
									<option value="">---None---</option>
									<!--iterate all picklist values from wrapper list using for:each loop-->
									<template for:each={options} for:item="picklistItem">
										<option key={picklistItem.value} value={picklistItem.value}>
										{picklistItem.label}
										</option>
									</template>
								</select>
							</div>
						</div>
					</div>
				</lightning-layout-item>
				<lightning-layout-item size="12" medium-device-size="2" padding="around-small"  if:true= {showUpdateSection}>
					<div class="page-section page-header">
						<div class="slds-global-header slds-grid slds-grid_align-spread">
							<div class="slds-global-header__item"  style="width: 100%">
								<button class="slds-button slds-button_brand" onclick={handleSaveClick}>Update</button>
							</div>
						</div>
					</div>
				</lightning-layout-item>
			</lightning-layout>

			<lightning-layout multiple-rows="true">
				<lightning-layout-item size="12" medium-device-size="12" padding="around-small">
					<div class="page-section page-header">
						<div class="slds-global-header slds-grid slds-grid_align-spread">
							<div class="slds-global-header__item" style="width: 100%">
								<p class="slds-m-vertical_medium content">Total Selected records: <b>{totalSelectedRecords}</b></p>
							</div>
						</div>
					</div>
				</lightning-layout-item>
			</lightning-layout>
			
			<template if:false= {noRecordsFound}>
				<lightning-layout horizontal-align="stretch" multiple-rows="true" class="x-large">
						<template for:each={recordList} for:item="data">
							<lightning-layout-item key={data.Id} padding="around-small" size="12" small-device-size="3" class="slds-var-p-around_x-small">
								<lightning-card title={data.Subject} class="data-tile">
									<div slot="actions">
										<lightning-input type="checkbox" onchange={handleCheckbox} variant="bare" data-id={data.Id} class="slds-var-checkbox-field" label=""> </lightning-input>
										<lightning-button-icon
											icon-name="utility:call"
											data-id={data.Id}
											variant="bare"  onclick={handleOpenModal}
											alternative-text="Log A Call">
										</lightning-button-icon>
									</div>
									
									<div class="slds-var-p-horizontal_small data-tile-body">
										<div class="slds-media">
											<div class="slds-media__figure">
												
											</div>
											<div class="slds-media__body">
												<p class="slds-var-m-bottom_xx-small">Subject: {data.Subject}</p>
												<p class="slds-var-m-bottom_xx-small">Status: {data.Status}</p>
												<p class="slds-var-m-bottom_xx-small">Assigned To: {data.Owner.Name}</p>
											</div>
										</div>
									</div>
								</lightning-card>
							</lightning-layout-item>
						</template>
				</lightning-layout>
				<lightning-layout horizontal-align="stretch" multiple-rows="true" class="x-large">
					<lightning-layout-item padding="around-small" size="12" small-device-size="12" class="slds-var-p-around_x-small">
						<p class="slds-m-vertical_medium content">Total records: <b>{totalrecords} </b> Page <b>{currentpage}</b> of  
						<b> {totalpages}</b></p>
					</lightning-layout-item>
				</lightning-layout>
			</template>
			<!-- End record list -->
			<!-- Data failed to load -->
			<template if:true={noRecordsFound}>
				<lightning-layout horizontal-align="stretch" multiple-rows="true" class="x-large">
					<lightning-layout-item padding="around-small" size="12" small-device-size="12" class="slds-var-p-around_x-small">
						<p class="slds-m-vertical_medium content">--No Records Found--</p>
					</lightning-layout-item>
				</lightning-layout>
			</template>
		</div>
		<template if:true={isOpenModal}>
            <div style="height: 500px;">
                <section  style="bottom: unset;" role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header">
                            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={handleCloseModal}>
                                <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close" size="medium">
                                </lightning-icon>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Call</h2>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <div class="slds-text-heading_small slds-text-align_center">
								<lightning-layout horizontal-align="stretch" multiple-rows="true" class="x-large">
									<template if:false= {error}>
										<template for:each={contactList} for:item="conrec">
											<lightning-layout-item key={conrec.Id}  padding="around-small" size="12" small-device-size="12" class="slds-var-p-around_x-small">
												<lightning-card title={conrec.Name} class="data-tile">
													<div slot="actions">
														<lightning-button-icon
															icon-name="utility:call"
															variant="bare"
															alternative-text="Call">
														</lightning-button-icon>
													</div>
													<div class="slds-var-p-horizontal_small data-tile-body">
														<div class="slds-media">
															<div class="slds-media__body">
																<p class="slds-var-m-bottom_xx-small">{conrec.Phone}</p>
															</div>
														</div>
													</div>
												</lightning-card>
											</lightning-layout-item>
										</template>
									</template>
									<template if:true= {error}>
										{error}
									</template>
								</lightning-layout>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </div>
		</template>
		

		<template if:true={isCreateModalOpen}>
			<!-- Modal/Popup Box LWC starts here -->
			<section style="bottom: unset;" role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
				<div class="slds-modal__container">
					<!-- Modal/Popup Box LWC header here -->
					<header class="slds-modal__header">
						<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeCreateModal}>
							<lightning-icon icon-name="utility:close"
								alternative-text="close"
								variant="inverse"
								size="small" ></lightning-icon>
							<span class="slds-assistive-text">Close</span>
						</button>
						<h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Create Task</h2>
					</header>
					<!-- Modal/Popup Box LWC body starts here -->
					<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
						<lightning-record-view-form object-api-name="Task">
							<lightning-layout multiple-rows="true">
								<lightning-layout-item size="12" medium-device-size="6" padding="around-small">
									<div class="page-section page-header">
										<div class="slds-global-header__item" style="width: 100%">
											<c-generic-custom-lookup obj-name="User" search-placeholder="Search Users" label-name="Assigned To" icon-name="standard:user" onlookupselected={handleUserSelection}> </c-generic-custom-lookup>
										</div>
									</div>
								</lightning-layout-item>
								<lightning-layout-item size="12" medium-device-size="6" padding="around-small">
									<div class="page-section page-header">
										<div class="slds-global-header__item" style="width: 100%">
											<c-multi-entity-lookup multi-entity="true" entities={entities}  onlookupselected={handleObjSelection}> </c-multi-entity-lookup>
										</div>
									</div>
								</lightning-layout-item>
								<lightning-layout-item size="12" medium-device-size="6" padding="around-small">
									<div class="page-section page-header">
										<div class="slds-global-header__item" style="width: 100%">
											<lightning-input type="text" placeholder="Subject" name="subject"  value='' label="Subject" onchange={genericOnChange}></lightning-input>
										</div>
									</div>
								</lightning-layout-item>
								<lightning-layout-item size="12" medium-device-size="6" padding="around-small">
									<div class="page-section page-header">
										<div class="slds-global-header__item" style="width: 100%">
											<c-generic-custom-lookup obj-name="Contact" search-placeholder="Search Contact Name" label-name="Name" icon-name="standard:contact" onlookupselected={handleContactSelection}> </c-generic-custom-lookup>
										</div>
									</div>
								</lightning-layout-item>
								<lightning-layout-item size="12" medium-device-size="6" padding="around-small">
									<div class="page-section page-header">
										<div class="slds-global-header__item" style="width: 100%">
											<lightning-input type="date" name="duedate"  value='' label="Due Date" onchange={genericOnChange}></lightning-input>
										</div>
									</div>
								</lightning-layout-item>
								<lightning-layout-item size="12" medium-device-size="6" padding="around-small">
									<div class="page-section page-header">
										<div class="slds-global-header__item" style="width: 100%">
											<lightning-input type="text" placeholder="Comment" name="commentval"  value='' label="Comments" onchange={genericOnChange}></lightning-input>
										</div>
									</div>
								</lightning-layout-item>
								<lightning-layout-item size="12" medium-device-size="6" padding="around-small">
									<div class="page-section page-header">
										<div class="slds-global-header__item" style="width: 100%">
											<label class="slds-form-element__label">
												<span class="">Status</span>
											</label>
											<select class="slds-select" id="select-02" onchange={handleStatusChange}>
												<option value="">---Select Status---</option>
												<!--iterate all picklist values from wrapper list using for:each loop-->
												<template for:each={options} for:item="picklistItem">
													<option key={picklistItem.value} value={picklistItem.value}>
													{picklistItem.label}
													</option>
												</template>
											</select>
										</div>
									</div>
								</lightning-layout-item>
								<lightning-layout-item size="12" medium-device-size="6" padding="around-small">
									<div class="page-section page-header">
										<div class="slds-global-header__item" style="width: 100%">
											<label class="slds-form-element__label">
												<span class="">Priority</span>
											</label>
											<select class="slds-select" id="select-03" onchange={handlePriorityChange}>
												<option value="">---Select Priority---</option>
												<!--iterate all picklist values from wrapper list using for:each loop-->
												<template for:each={optionsPriority} for:item="picklistItem">
													<option key={picklistItem.value} value={picklistItem.value}>
													{picklistItem.label}
													</option>
												</template>
											</select>
										</div>
									</div>
								</lightning-layout-item>
							</lightning-layout>
                        </lightning-record-view-form>  
					</div>
					<!-- Modal/Popup Box LWC footer starts here -->
					<footer class="slds-modal__footer">
						<button class="slds-button slds-button_neutral" onclick={closeCreateModal} title="Cancel">Cancel</button>
						<button class="slds-button slds-button_brand" onclick={submitDetails} title="Submit">Submit</button>
					</footer>
				</div>
			</section>
			<div class="slds-backdrop slds-backdrop_open"></div>
		</template>
	</lightning-card>
</template>